<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Microfi Free Flow CashTokens Distribution App</title>
  <meta name="description" content="Jesus Piece (HOLY) Bitcoin Cash CashTokens Distribution App (aka faucet)">
  <meta name="web" content="https://github.com/JesusPieceHoly/JesusPieceFaucet/">
  <link rel="icon" type="image/ico" sizes="32x32" href="./img/favicon.ico">
  <style>
    body {
      text-align: center;
      max-width: 768px;
      margin: auto;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: black;
      font-size: large;
      color: #FFFFFF;
    }
    p {
      font-size: small;
    }
    a:link {
      color: #0AC18E;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: #0AC18E;
      background-color: transparent;
      text-decoration: none;
    }
    .collapsible {
			background-color: #0AC18E;
      border-radius: 12px;
			font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			color: white;
			cursor: pointer;
			padding: 18px;
			width: 33%;
			border: none;
			text-align: center;
			outline: none;
			font-size: 14px;
		}
		.active, .collapsible:hover {
			background-color: #0AC18E;
		}
		.content {
			padding: 0 18px;
			display: none;
			overflow: hidden;
			background-color: black;
		}
    @media screen and (max-width: 512px) {}
  </style>
  <!-- <script src="https://hcaptcha.com/1/api.js" async defer></script> -->
</head>

<body>
  <div>
    <p><img src="./img/microfi.png" alt="microfi" width="360"></p>
    <hr>
    <div>
      <h3>Microfi Free Flow (XMI)</h3>
      <p>The total supply of 1 million XMI was distributed for free.</p>
      <p>Distribution app address: <a href="https://explorer.salemkode.com/address/bitcoincash:qrx0t6cv5m7ks7za8j52839q7vjqkahkcux4hxfvrz">bitcoincash:qrx0t6cv5m7ks7za8j52839q7vjqkahkcux4hxfvrz</a></p>
      <p>Distribution ran from May 25, 2023 to June 28, 2023.<br>
      Thank you.</p>
      <p><i>Discover the power of CashTokens with Microfi Free Flow.</i></p>
       <h3>Claim 1 HOLY Jesus Piece </h3>
      <p><i>It`s free. No login required. You need CashTokens aware address- bitcoincash:z...</i></p>
      <form action="/" method="post">
        <input type="text" name="userAddress" size="56" placeholder="bitcoincash:z..."><br>
        <br> 
        <!-- <div class="h-captcha" data-sitekey="18b02976-2241-4563-87e9-1ce821fe7f7e"></div>
        <br> -->
         <input type="submit" value="Claim"><br>
      </form> 
      <br>
      <p><%= content %></p>
      <p><a href="https://explorer.salemkode.com/tx/<%= txIds %>"><%= txIds %></a></p>
      <p><%= error %></p>
      <br>
    </div>
    <p>
       Name: Jesus Piece<br>
       Symbol: HOLY<br>
       Decimals: 0<br>
       TokenId:<br><a href="https://explorer.salemkode.com/token/67f37913382a5ffcde88dbd689faf7098d7dcb92a93dd49878bd8ed64b80a85b">67f37913382a5ffcde88dbd689faf7098d7dcb92a93dd49878bd8ed64b80a85b</a><br>
       Genesis txId:<br> <a href="https://explorer.salemkode.com/tx/8f0e5931d1a24cbd88a0d6f36a1862ab6a6ff76ea715f1933139e20bac98dd15">8f0e5931d1a24cbd88a0d6f36a1862ab6a6ff76ea715f1933139e20bac98dd15</a><br>
       <p>Jesus Piece (HOLY) is fungible CashToken issued on Bitcoin Cash blockchain.</p>
    </p>
       <p>For more information, please visit https://t.me/HOLYJesusPiece </a>.</p>
       <br>
       <img src="./img/holy_icon.png" width="128">
    </p>
    <hr>
    <footer>
      <button type="button" class="collapsible">Send BCH or CashTokens to the distribution address</button>
			<div class="content">
      <p>Send XMI to the CashTokens address or donate BCH or CashTokens for future distribution.</p>
      <p>Donate BCH:<br>bitcoincash:qqg3qveqqh8ds3wn5d08tfwllqul940825xcqyvmvq<br>
         <img src="./img/qrcode1.png" alt="qr1" width="128"><br>
         Donate CashTokens:<br>bitcoincash:zqg3qveqqh8ds3wn5d08tfwllqul940825pjn6zann<br>
         <img src="./img/qrcode2.png" alt="qr2" width="128">
      </p>
      </div>
      <hr>
      <h3>Credits</h3>
      <p><a href="https://mainnet.cash">mainnet.cash</a></p>
      <p><a href="https://cashonize.com">cashonize.com</a></p>
      <p><a href="https://cashtokens.org"><img src="./img/cashtokens.png" alt="CashTokens" width="128"></a></p>
      <hr>
      <h3>Contact</h3>
    </footer>
  </div>
  <br>
  <script src="./server.js"></script>
  <script>
		var coll = document.getElementsByClassName("collapsible");
		var i;
		for (i = 0; i < coll.length; i++) {
		  coll[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.display === "block") {
			  content.style.display = "none";
			} else {
			  content.style.display = "block";
			}
		  });
		}
	</script>
</body>
</html>
